http:
  middlewares:
    https-redirect:
      redirectScheme:
        scheme: https
        permanent: true

    # Disabled for now until valid HTTPS certificates are available
    # Remove this comment and the redirect-off middleware once HTTPS is configured
    redirect-off:
      redirectScheme:
        scheme: http

    cors-headers:
      headers:
        accessControlAllowMethods:
          - GET
          - OPTIONS
          - PUT
          - POST
          - DELETE
          - PATCH
        accessControlAllowOriginList:
          - "*"
        accessControlAllowHeaders:
          - "*"
        accessControlExposeHeaders:
          - "*"
        accessControlMaxAge: 100
        addVaryHeader: true

    security-headers:
      headers:
        frameDeny: true
        browserXssFilter: true
        contentTypeNosniff: true
        forceSTSHeader: true
        stsIncludeSubdomains: true
        stsPreload: true
        stsSeconds: 31536000

